
.app {
  display: flex;
  flex-direction: column;

}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: lightgrey;
}

.body > * {
  margin: 10px;
}

.about_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgoldenrodyellow;
  color: coral;
  width: 100%;
  border-radius: 15px;
  padding: 100px;
}

#bio {
  text-decoration: underline;

}

#projects{
  text-decoration: underline;
}

.projects_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: coral;
  color: lightgoldenrodyellow;
  width: 100%;
  border-radius: 15px;
}

.repo_links {
  text-decoration: none;
  color: inherit;
}
